.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    width: 200px;
  }
  
  button:hover {
    background-color: #0066b3;
  }
  